:root {
  --body-bg: #fddcd2;

  --header-bg: #211F1F;
  --header-text: #EFB4D7 ;

  --main-bg: #fddcd2;
  --main-text: black;
  --main-title-bg: #EFB4D7;

  --card-bg: #B9EF87;
  --card-text: #201e1d;
}